/fast.mdf
*.mdf
*.png
*.gif
*.avi
*.ipynb
/.ipynb_checkpoints/
/Actin_filaments/
/FAST_source-2/
/for_course_work/
/jupyter_notebooks/
/results/
/results_2/
*.tif
*.tiff
*.pkl
/main_3.py
/main_2.py
/img3
/img3_fire
*.xml
*.pyc
/.idea
